extends layout

block content
    h1 Login Page
    form(action="/login", method="post")
        input(type="text", placeholder="Enter Username", name="username", required)
        input(type="password", placeholder="Enter Password", name="password", required)
        button(type="submit") Login
    p
      | Don't have an account? 
      a(href="register") Register
    
    p= errorMsg