extends layout


block content
  .topnav
    a(href="/") Home
    a(href="browse") Browse
    a(href="cart") Cart
    a.active(href="profile") Profile

  h1 My Profile
  
  

  form(id="profile-form", action="/profile", method="post")
    
     div    
        input(type="text", placeholder="Enter Username", name="username", value=username, required)
        
    div
        input(id="password", type="password", placeholder="New Password", name="password", required)
        input(id="confirm-password", type="password", placeholder="Confirm new Password", required)
    div
        input(type="password", placeholder="Old password", name="old_password", required)
    div
        button(type="submit") Save
    p= errorMsg

    script.
        var password = document.getElementById("password")
        var confirm_password = document.getElementById("confirm-password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
  
  a(href="/logout")
    button Logout
